<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/footer.css" />
  </head>
  <body>
    <div class="footer_container">
      <div class="links_div">
        <div>
          <h4>About Sephora</h4>
          <ul>
            <li><a href="">About Sephora</a></li>
            <li><a href="">Newsroom</a></li>
          </ul>
        </div>
        <div>
          <h4>My Sephora</h4>
        </div>
        <div>
          <h4>Help</h4>
        </div>
        <div>
          <h4>Region & Language</h4>
        </div>
        <div>
          <h4>We Belong to Something Beautiful</h4>
        </div>
      </div>
      <div class="media_connect_div"></div>
    </div>
  </body>
</html>
