* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#myBasket {
  text-align: center;
  margin: 20px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.left_cart_div {
  width: 47%;
  padding: 10px;
  background-color: rgb(246, 246, 248);
}
.left_cart_div > h4 {
  margin-bottom: 10px;
}
#product_div {
  background-color: white;
}
#product_div > div {
  display: flex;
  gap: 20px;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid rgb(236, 229, 229);
}
#product_div > div > div {
}
#product_div > div > div:nth-child(3) {
  position: absolute;
  right: 15px;
  text-align: right;
}
#product_div > div > div:nth-child(3) > h5 {
  margin-bottom: 40px;
}
#product_div > div > div:nth-child(3) > button {
  padding: 5px 10px;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
}
#product_div > div > div > img {
  width: 100px;
}
#product_div > div > div > p {
  width: 25 0px;
  font-size: 13px;
  line-height: 25px;
}
.right_cart_div {
  border: 3px solid green;
}
