*{
    font-family: Helvetica;
    
}
hr{
    height: 1px;
    background-color: rgb(226, 221, 221);
    border: none;
}
#sidebody{
    display: flex;
    font-size: 14px;
    margin:20px;
}

#sidebody>div{
    line-height: 30px;
    margin-top: 10px;
}
#prod{
    margin-top: 40px;
    margin-left:20px;
    display: grid;
    grid-auto-flow: row;
    height: 100px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-evenly;
    grid-gap: 7px 7px;
    margin-bottom: 40px;

}
#prod>div{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
        width: 200px;
        padding: 5px;
        margin-left: -2px;
        justify-items: center;
        text-justify: auto;
}

#hairBody{
    width: 80%;
    margin: auto;
}
#cate a{
    text-decoration: none;
    color: black;
}
select{
    width: 200px;
    margin: 10px;
    font-weight: bold;
    border: none;
    font-size: 15px;
}
#sideBody:hover{
    cursor: pointer;
 
}
#prod>div>img{
    float: right;
    margin-top:-19px;
    margin-bottom:10px
    

}
.bimg{
    height: 30px;
    width: 30px;
}
select:hover{
    text-decoration: underline;
}
#prod>div:hover{
opacity: 0.7;
}
#items{
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}
.item-card{
    width:80%;
    height: auto;
    margin:10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;


}
.item-card>img{
    width:100%;
    margin:auto;
    max-height: 220px;
}
.item-card>p{
text-align: center;
width:100%;
height:90px

}
.item-card:hover{
    opacity:0.7;
}
.item-card>h4::before{
    content:"$"

}
.item-card>h4{
text-align: center;
margin-bottom: 20px;
}



@media screen and (max-width: 992px) {
   #cate {
        display:none;
    }
    #items{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
    
       
    }
    #prod{
        grid-template-columns: repeat(4, 1fr)
    }
    #cru{
        display:none;
    }
    #cle{
        display:none;
    }
  }
  @media screen and (max-width: 600px) 
  {
    #cate {
        display:none;
    }
    #items{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
    #prod>div{
        display:none
    }
    #cru{
        display:none;
    }
    #cle{
        display:none;
    }
  }
