* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.logo_search_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo_search_container > .logo_div {
  width: 10%;
  margin: 0 40px;
}
.logo_search_container > .logo_div > img {
  width: 100%;
}
.logo_search_container > .search_div {
  width: 40%;
}
.logo_search_container > .search_div > input {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  border: 1px solid;
}
.logo_search_container > .stores_services_div {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo_search_container > .stores_services_div > a {
  margin-left: -20px;
}
.logo_search_container > .stores_services_div > img {
  width: 15%;
  cursor: pointer;
}
.logo_search_container > .community_div,
.logo_search_container > .signin_div {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo_search_container > .community_div > img,
.logo_search_container > .signin_div > img {
  width: 20%;
  height: 20%;
  cursor: pointer;
}
.logo_search_container > .menu_icons_div {
  display: flex;
  justify-content: center;
  width: 10%;
}
.logo_search_container > .menu_icons_div > #basket_icon {
  width: 30%;
  cursor: pointer;
}
.logo_search_container > .menu_icons_div > #basket_count {
  padding: 5px 8px;
  background-color: rgb(205, 7, 42);
  margin-left: -20px;
  margin-bottom: 16px;
  border-radius: 50%;
  color: white;
}
.logo_search_container a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.menubar_container {
  background-color: black;
  position: relative;
}
nav > ul {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
nav > ul > li {
  padding: 12px 0px;
  list-style: none;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.megamenu {
  position: absolute;
  top: 120%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transition: 0.3s;
  background-color: white;
  z-index: 100;
}
nav > ul > li:hover .megamenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}
.megamenu_items {
  display: flex;
  justify-content: space-around;
  height: 100%;
  padding: 0 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.megamenu_items > img {
  width: 280px;
  height: 280px;
  margin: 25px;
  cursor: pointer;
}
.megamenu_items > .items > p {
  margin: 20px 20px;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: 0.4px;
  white-space: normal;
}
.megamenu_items > .items > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1010px) {
  .logo_search_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .logo_search_container > .logo_div {
    width: 15%;
    margin: 0 10px;
  }
  .logo_search_container > .stores_services_div {
    width: 15%;
    flex-direction: column;
  }
  .logo_search_container > .stores_services_div > img {
    width: 17%;
    margin-bottom: 2px;
  }
  .logo_search_container > .community_div,
  .logo_search_container > .signin_div {
    width: 12%;
    flex-direction: column;
  }
  .logo_search_container > .community_div > img,
  .logo_search_container > .signin_div > img {
    width: 20%;
    height: 20%;
    margin-bottom: 2px;
  }
  .logo_search_container > .menu_icons_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  .logo_search_container > .menu_icons_div > #basket_icon {
    width: 50%;
  }
  .logo_search_container > .menu_icons_div > #basket_count {
    padding: 4px 7px;
    background-color: rgb(205, 7, 42);
    margin-left: -15px;
    margin-bottom: 15px;
    border-radius: 50%;
    color: white;
  }
  .logo_search_container a {
    color: black;
    text-decoration: none;
    font-size: 15px;
  }
  .menubar_container {
    background-color: white;
  }
  nav > ul {
    width: 95%;
    justify-content: space-between;
  }
  nav > ul > li {
    padding: 10px 0px;
  }
  nav > ul > li > a {
    color: black;
    font-size: 13px;
    padding: 5px 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .megamenu {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .menubar_container {
    white-space: nowrap;
    overflow: hidden;
  }
  nav > ul {
    width: 98%;
  }
  nav > ul > li {
    padding: 10px 3px;
  }
  nav > ul > li > a {
    font-size: 12px;
    padding: 5px;
  }
}

@media screen and (max-width: 550px) {
  .logo_search_container > .logo_div {
    width: 20%;
  }
  .logo_search_container > .search_div {
    width: 50%;
  }
  .logo_search_container > .stores_services_div {
    display: none;
  }
  .logo_search_container > .community_div {
    display: none;
  }
  .logo_search_container > .signin_div {
    width: 10%;
    text-align: center;
  }
  .logo_search_container > .signin_div > img {
    width: 50%;
  }
}
@media screen and (max-width: 475px) {
  .logo_search_container > .logo_div {
    width: 25%;
    margin-left: 5px;
  }
  .logo_search_container > .search_div {
    width: 60%;
  }
  .logo_search_container > .signin_div > a {
    font-size: 11px;
  }
  .logo_search_container > .menu_icons_div > #basket_icon {
    width: 90%;
    cursor: pointer;
  }
  .logo_search_container > .menu_icons_div > #basket_count {
    padding: 2px 5px;
    margin-left: -20px;
    margin-bottom: 15px;
  }
}

/* admin-login */
.signin_div {
  position: relative;
  cursor: pointer;
}

#admin_login {
  top: 40px;
  left: 40px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.91);
  z-index: 2;
  padding: 10px;
  width: 150px;
  display: none;
}
#admin_login > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  line-height: 30px;
}
#login_icon_data {
  position: relative;
  text-align: center;
}
#login_icon_data > img {
  width: 50%;
}
#logout_section {
  top: 60px;
  left: 0;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.937);
  z-index: 200;
  padding: 10px;
  text-align: left;
  display: none;
}
#logout_section > p {
  line-height: 30px;
}
#logout_section > p:nth-child(1)::before {
  content: "\f007";
  font-family: "fontawesome";
}
/* f2f5 */
#logout_section > p:nth-child(2)::before {
  content: "\f2f5 ";
  font-family: "fontawesome";
}
